body {
  padding-top: 4rem;
}

div {
  border: 1px solid black;
}

.row {
  align-items: center;
}

.content {


  @media (min-width: 992px) {
    // padding-top: 80px;
  }
}

.img {
  background-image: url('../img/default-placeholder.png');
  background-color: #000000;

  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
