// https://www.colorcombos.com/color-schemes/99/ColorCombo99.html
$primary-color: #003366;
$secondary-color: #FFCC66;
$accent-color: #336699;
$color-one: #FFFFFF;
$color-two: #000000;

@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style; 
}

html {
  @include box-style(border-box); 
}

*, *:before, *:after {
  @include box-style(inherit)
}

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

div, span {
  // border: 1px solid $color-two;
}

#navbar {
  @include flex-style(row wrap, space-around);
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: $accent-color;
  color: $color-one;

  .nav-content {
    @include flex-style(row wrap, center);
    width: 50%;

    .nav-item {
      margin: 15px 20px;
    }
  }
}

#page-wrapper {
  @include flex-style(row wrap, center);
  width: 100%;

  #masthead-bg {
    @include flex-style(row wrap, center)
    background-color: $primary-color;
    width: 100%;
    height: 700px;
  
    #masthead {
      align-self: center;
      color: $secondary-color;

      #title {
        width: auto;
        margin-bottom: 50px;
        font-size: 65px;
      }

      #main-detail {
        width: auto;
        margin: 25px;
        font-size: 40px;
      }

      .detail {
        margin: 10px 20px;
        font-size: 30px;
      }
    }
  }
}