// https://www.colorcombos.com/color-schemes/99/ColorCombo99.html
$primary-color: #003366; // midnight blue
$secondary-color: #FF6600; // orange
$accent-color: #336699; // light-gray
$bg-color: #FFFFFF; // white
$contrast-color: #DCDCDC; // gainsboro
$link-hover: #B31B1B;

// breakpoints
$md-width: 600px;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style; 
}

html {
  @include box-style(border-box);
}

*, *:before, *:after {
  @include box-style(inherit)
  font-family: "Montserrat";
}

body {
  margin: 0;
  margin-top: 75px;
  font-family: sans-serif;
}

#main-content {
  @include flex-style(row wrap, center);
  max-width: 750px;
  margin: 0 auto;
}

#about {
  @include flex-style(row wrap, space-between);
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 5px solid $accent-color;

  @media (min-width: $md-width) {
    #profile-pic {
      background-image: url('../assets/small-profile-pic.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 115%;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-right: 20px;
    }    
  }
}

#header, .sub-header {
  font-family: "Rhoza One";
  font-size: 45px;
  font-weight: bold;
}

.sub-header {
  margin-top: 15px;
  font-size: 25px;
}

.title, .sub-title {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: $secondary-color;

    a:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

#title {
  margin-bottom: 10px;
  font-size: 30px;
}

.sub-title {
  margin-top: 10px;
  margin-bottom: 3px;
}

.date {
  font-style: italic;
  margin-bottom: 10px;
}

.info {
  width: 100%;
  padding: 15px 15px 25px 15px;
  border-bottom: 1px solid $contrast-color;

  .details {
    margin-bottom: 20px;
  }

  #skills {
    @include flex-style(row nowrap, space-around);
    height: 100px;
    margin-top: 10px;
    margin-bottom: 100px;

    div {
      margin: 5px;
    }
  }
}

.company {
  margin-bottom: 2px;
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;

  a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}