body {
  margin-top: 8rem;
  margin-bottom: 0rem; }

@media (min-width: 992px) {
  .main {
    margin-bottom: 6rem; } }

.row {
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-items: center; }
  .row .content {
    margin-top: 4rem;
    margin-bottom: 4rem; }
    @media (min-width: 996px) {
      .row .content {
        margin-left: 2rem;
        margin-right: 2rem; } }
  .row .img {
    background-color: #FFFFFF;
    border: 0;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px; }
  .row .profile {
    border-radius: 50%; }

@media (min-width: 992px) {
  #about {
    margin-top: 0rem;
    margin-bottom: 3rem; } }

#projects {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 992px) {
    #projects {
      margin-top: 3rem;
      margin-bottom: 3rem; } }

@media (min-width: 992px) {
  #connect {
    margin-top: 3rem;
    margin-bottom: 0rem; } }

.dash {
  background-color: #1974D2;
  color: #FFFFFF; }
